h1 {
  color: darkred;
}
h2 {
  font-style: italic;
  color: grey;
}
p {
  color: crimson;
}
body {
  background-color: lightpink;
  font-family: sans-serif;
  text-align: center;
}
img {
    border-radius: 8px;
}
img {
    max-width: 50%;
    max-height: 50%
}
img {
  border-radius: 8px
}
h3 {
  background-color: lightpink;
  font-family: sans-serif;
  text-align: left;
}
ul { background-color: lightpink;
  font-family: sans-serif;
  text-align: left;
}
