h1 {
  colour: darkred;
  font-size: 20px
  text-align: center;

}
h2 {
  colour: darkred
  font-size: 20px;
}
body {
  background-color:lightpink;
  font-family: sans-serif;
  text-align: left;
  font-size: 20px;
}
p {image-orientation: center
  border-radius: 25px;
  max-width: 50%;
  max-height: 50%

}
