h1 {
  color: darkred;
  font-size: normal;
}
h2 {
  font-style: normal;
  color: mediumvioletred;
  text-align: left;

}
p {
  color: crimson;
}
body {
  background-color: lavenderblush;
  font-family: sans-serif;
  text-align: center;
}
ul {
  font-style: normal;
  color: crimson;
  text-align: left;
}
h3 {
  font-style: normal;
  color: mediumvioletred;
  text-align: left;
  text-decoration: underline;
}
